* {
  font-family: Open Sans;
  margin: 0;
}
.mainContainer {
  padding: 40px;
}

.colorPallete {
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.colorPallete:hover {
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s;
  font-weight: 900;
}

